.footer {
  width: 100%;
  margin: 40px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  color: #888;

  &__header {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header__left {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__logo {
    width: 100px;
    height: 94px;
  }

  &__text__block {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &__text__yellow {
    font-size: 12px;
    line-height: 19px;
    color: #dba833;
    font-family: "Inter";
  }

  &__header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-family: "Rubik";
  }

  &__nav {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__link {
    font-size: 16px;
    line-height: 19px;
    color: #888;
    transition: all 0.3s ease;
    font-family: "Rubik";

    &:hover {
      color: #dba833;
    }
  }

  &__account {
    width: 175px;
    height: 86px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid #888;
    font-family: "Rubik";
  }

  &__account__icon {
    width: 27px;
    height: 27px;
    fill: #888;
    font-family: "Rubik";
  }

  &__account__text {
    font-size: 16px;
    line-height: 19px;
    font-family: "Rubik";
  }

  &__stick {
    width: 100%;
    border: 2px dashed #979797;
    font-family: "Rubik";
  }

  &__info {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Rubik";
  }

  &__info__left,
  &__info__right {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "Rubik";
  }

  &__info__text {
    font-size: 16px;
    font-family: "Rubik";
    line-height: 15px;
  }

  &__info__subtext {
    font-size: 15px;
    line-height: 15px;
    color: #888;
    font-family: "Rubik";
    transition: all 0.3s ease;

    &:hover {
      color: #dba833;
    }
  }

  &__socials {
    display: flex;
    gap: 20px;

    img {
      width: 25px;
      height: 25px;
    }
  }

  @media only screen and (max-width: 1024px) {
    &__header,
    &__info {
      width: 90%;
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    &__header__right {
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
    }

    &__nav {
      align-items: center;
    }

    &__info__left,
    &__info__right {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }

  @media only screen and (max-width: 500px) {
    width: 90%;
    gap: 40px;

    &__header__right {
      flex-direction: column;
    }

    &__account {
      width: 100%;
    }

    &__info {
      flex-direction: column;
      gap: 20px;
    }
  }
}
